.wrap {
}

.floatleft {
  float:left;
  width: 20%;
  background-color: #283845 ;
  height: 100vh;
}

.floatright {
  float: right;
  background-color: gold;
  height: 100vh;
  width: 80%;
}
.logo{
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  font-size: 42px;
  height: 100px;
  font-family: Consolas;
}
